<div>
    <h2 id="page-heading">
        <span jhiTranslate="weappApp.params.home.title">Params</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-params" [routerLink]="['/params/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="weappApp.params.home.createLabel">
            Create new Params
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="params">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="weappApp.params.type">Type</span></th>
            <th><span jhiTranslate="weappApp.params.json">Json</span></th>
            <th><span jhiTranslate="weappApp.params.sample">Sample</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let params of params ;trackBy: trackId">
                <td><a [routerLink]="['/params', params.id, 'view' ]">{{params.id}}</a></td>
                <td>{{params.type}}</td>
                <td>{{params.json}}</td>
                <td>
                    <div *ngIf="params.sample">
                        <a [routerLink]="['../sample', params.sample?.id, 'view' ]" >{{params.sample?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/params', params.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/params', params.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'params/'+ params.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
